### [DataFrame의 인덱스 다루기 - 1 ]
- 인덱스 종류 : 행 인덱스, 열 인덱스
- 특정 열을 행 인덱스로 설정하는 방법 
- 메서드 : df.set_index(열 인덱스, inplace=False)

In [1]:
# [1] 모듈 로딩
import pandas as pd

In [5]:
# [2] 데이터 준비
jumsu={'name':['마징가','태권V','원더우먼'], 
       'kor':[50,100,80], 
       'eng':[40,30,100], 
       'math':[100,20,90]}

In [6]:
# [3] Dict ==> DataFrame 형태로 저장
jumsuDF=pd.DataFrame(jumsu)
jumsuDF

   name  kor  eng  math
0   마징가   50   40   100
1   태권V  100   30    20
2  원더우먼   80  100    90

In [17]:
# [4] name 컬럼을 행 인덱스로 설정
DF2=jumsuDF.set_index('name')
DF2

      kor  eng  math
name
마징가    50   40   100
태권V   100   30    20
원더우먼   80  100    90

In [8]:
# DF2 데이터프레임의 행 인덱스/열 인덱스 확인
print(DF2.index, DF2.columns, sep='\n')

Index(['마징가', '태권V', '원더우먼'], dtype='object', name='name')
Index(['kor', 'eng', 'math'], dtype='object')

In [16]:
# [5] 데이터 추출
# - '마징가', '원의 성적 추출 즉, 행 추출 ==> 변수명.loc[] / 변수명.iloc[]
print(DF2.loc[['마징가','원더우먼']])
print(DF2.iloc[[0,2]])

      kor  eng  math
name
마징가    50   40   100
원더우먼   80  100    90
      kor  eng  math
name
마징가    50   40   100
원더우먼   80  100    90

In [19]:
## [6] 영어 점수 컬럼을 행 인덱스로 설정
DF3=jumsuDF.set_index('eng')
DF3

     name  kor  math
eng
40    마징가   50   100
30    태권V  100    20
100  원더우먼   80    90

In [20]:
## name, eng 컬럼을 행 인덱스 설정  => 멀티 인덱스
DF4=jumsuDF.set_index(['name','eng'])
DF4

          kor  math
name eng
마징가  40    50   100
태권V  30   100    20
원더우먼 100   80    90

In [21]:
print(DF4.index)

MultiIndex([( '마징가',  40),
            ( '태권V',  30),
            ('원더우먼', 100)],
           names=['name', 'eng'])

In [22]:
## 멀티인덱스에서 행 추출
DF4.loc['마징가',40]

kor      50
math    100
Name: (마징가, 40), dtype: int64