In [4]:
import pandas as pd
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\kdp\anaconda3\envs\py_39\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\kdp\anaconda3\envs\py_39\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
data_file=r'C:\Users\kdp\Desktop\KDW\EX_PANDAS06\DAY02\남북한발전전력량.xlsx'

In [12]:
df=pd.read_excel(data_file)
print(df)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]

In [8]:
# 신재생에너지 북한에 추가
df.loc[9]=0
df.iloc[9][0]='NaN'
df.iloc[9][1]='신재생'
print(df)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -
9       NaN    신재생     0     0     0     0     0     0     0     0  ...     0

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -
9     0     0     0     0     0     0     0     0     0

[10 rows x 29 columns]

C:\Users\kdp\AppData\Local\Temp\ipykernel_16952\1263648285.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.iloc[9][0]='NaN'
C:\Users\kdp\AppData\Local\Temp\ipykernel_16952\1263648285.py:3: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.iloc[9][0]='NaN'
C:\Users\kdp\AppData\Local\Temp\ipykernel_16952\1263648285.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.iloc[9][1]='신재생'
C:\Users\kdp\AppData\Local\Temp\ipykernel_16952\1263648285.py:4: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.iloc[9][1]='신재생'

In [9]:
# 없는 값은 0으로 변경
df.iloc[4][2:-5]=0
df.iloc[8][2:]=0
print(df)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     0     0     0     0     0     0     0     0  ...     0
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     0     0     0     0     0     0     0     0  ...     0
9       NaN    신재생     0     0     0     0     0     0     0     0  ...     0

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     0     0     0     0    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     0     0     0     0     0     0     0     0     0
9     0     0     0     0     0     0     0     0     0

[10 rows x 29 columns]

C:\Users\kdp\AppData\Local\Temp\ipykernel_16952\2157468141.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.iloc[4][2:-5]=0
C:\Users\kdp\AppData\Local\Temp\ipykernel_16952\2157468141.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.iloc[8][2:]=0

In [10]:
# 2016 컬럼 옆에 '합계' 컬럼 추가
df['합계']=0
print(df)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2008  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4224
1       NaN     수력    64    51    49    60    41    55    52    54  ...    56
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2658
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1510
4       NaN    신재생     0     0     0     0     0     0     0     0  ...     0
5        북한     합계   277   263   247   221   231   230   213   193  ...   255
6       NaN     수력   156   150   142   133   138   142   125   107  ...   141
7       NaN     화력   121   113   105    88    93    88    88    86  ...   114
8       NaN    원자력     0     0     0     0     0     0     0     0  ...     0
9       NaN    신재생     0     0     0     0     0     0     0     0  ...     0

   2009  2010  2011  2012  2013  2014  2015  2016 합계
0  4336  4747  4969  5096  5171  5220  5281  5404  0
1    56    65    78    77    84    78    58    66  0
2  2802  3196  3343  3430  3581  3427  3402  3523  0
3  1478  1486  1547  1503  1388  1564  1648  1620  0
4     0     0     0    86   118   151   173   195  0
5   235   237   211   215   221   216   190   239  0
6   125   134   132   135   139   130   100   128  0
7   110   103    79    80    82    86    90   111  0
8     0     0     0     0     0     0     0     0  0
9     0     0     0     0     0     0     0     0  0

[10 rows x 30 columns]

In [ ]:
# 값 : 행별 합계 저장 
# 각 행별 합계 구하는 함수 생성
def df_sum():
    df.iloc[]

for i in df.index:
    df_sum=